 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$newfont: 'Gloria Hallelujah', cursive;
$mainfont: 'Exo', sans-serif;
$headfont: 'Righteous', cursive;
$titlefont: 'Lobster', cursive;
//$titlefont: 'Roboto Slab', serif;
//'Hammersmith One', sans-serif;
body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: black;
  font-family: "Adobe Caslon Pro", Georgia, serif;
  font-size: 62.5%;

}
.toplogo{
  position: absolute;
  margin-top: -7px;
  background-color: red;
  border-top: 2px solid hsla(52, 100%, 50%, 1);
  border-left: 2px solid hsla(52, 100%, 50%, 1);
  border-bottom: 2px solid hsla(52, 100%, 50%, 1);
  border-right: 2px solid hsla(52, 100%, 50%, 1);
  margin-left: 172px;

}
.game-title{


  color: white;
  font-size: 50px;
  text-shadow: 0px 4px 5px  hsla(0, 0%, 42%, 1);
  margin: 20px 50px -30px 10%;
  text-align: center;

  font-family: $titlefont;
  span{
    font-family: $titlefont;
  color: hsla(52, 100%, 50%, 1);
  text-shadow: 0px 4px 5px hsla(360, 100%, 50%, 1);
    font-size: 50px;
  }
}
.game-title:hover{

}

.body-container{
  //background-color: hsla(166, 100%, 50%, 1);
  background-color: black;
  height: 620px;

}
.hero-unit {
  position: relative;
  margin: 50px auto 0 auto;
  width: 80%;
  color: black;
  height: 620px;
  border-radius: 5px;

  background-color: rgb(233,234,237);
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  font-family: Helvetica;
  padding: 60px;
  h3 {
    animation-duration: 2.5s;
    animation-delay: 3.5s;
    animation-iteration-count: 1;
    font-size: 40px;
    line-height: 1;
    color: black;
    text-align: center;
    font-family: $mainfont;
    letter-spacing: -1px;
  }
  button{
    width: 158px;
    border-radius: 0.5px;
    background-color: hsla(199, 17%, 83%, 1);
    font-family: $mainfont;
    transition: background-color 0.6s ease;
  }
  h2{
    animation-duration: 1.4s;
    animation-delay: 1.8s;
    animation-iteration-count: 1;
    font-size: 60px;
    margin-left: 51x;

    font-family: $headfont;
    background-color: black;
    color: hsla(166, 100%, 50%, 1);
    height: 90px;
    margin-top: 10px;
    width: 100%;
    border-radius: 30px;
    padding-top: 30px;

    padding-left: 70px;
    font-weight: bold;
  }
  span{
    margin-left: 50px;
    font-family: $headfont;

  }
  .halo{
    position: absolute;
    animation-duration: 1.4s;
    animation-delay: 3.5s;
    animation-iteration-count: 1;
    margin-top: -140px;
    margin-left: 450px;
    transition: margin 0.5s ease;
  &:hover{
    margin-top: -153px;

  }
  }
  .horns{
    position: absolute;
    animation-duration: 1.4s;
    animation-delay: 3.5s;
    transition: margin 0.1s ease;
    animation-iteration-count: 1;
    margin-top: -140px;
    margin-left: 660px;
    &:hover{
      margin-top: -150px;
    }
  }
}
#footer{
  height: 50px;
  background-color: black;
  width: 100%;
}
.characters{
  list-style-type: none;
  display: inline;
  margin-left: 20px;
  li{
    display: inline-block;
    padding: 35px;
    border-radius: 30px;
  animation-duration: 2.5s;
  animation-delay: 6.1s;
  animation-iteration-count: 1;
  }
  button:hover{
    background-color: hsla(0, 0%, 98%, 1);
  }

}
.fight {
  display: none;
  position: relative;
  background-color: rgb(239,239,239);
  font-family: $mainfont;


}

#game-over{
  position: absolute;
  margin-top: -400px;
  font-size: 55px;
  color: white;
  width: 772px;
  animation-duration: 1.4s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  margin-left: 39px;
  height: 400px;
  display: none;
  border-radius: 10px;
  background-size: cover;
  background-image: url("../images/shatter.jpg");


}
.arena{
  animation-duration: 1.4s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  width: 90%;
  background-image: url("http://img1.wikia.nocookie.net/__cb20130127055956/degrassi/images/d/d8/Fire-animated-hot-burn.gif");
  background-size: cover;
  margin-top: 40px;
  height: 400px;
  margin-left: 5%;
  position: relative;

}
.arena2{
  animation-duration: 1.4s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  width: 90%;
  background-image: url("http://i.perezhilton.com/wp-content/uploads/2014/05/beyonce-performance-girls-rule-the-world-bbma.gif");
  border: 2px solid black;
  background-size: cover;
  margin-top: 40px;
  height: 400px;
  margin-left: 5%;

}
.game-over-message{

  font-color: white;
  font-size: 45px;
  background-color: black;
  opacity: .75;
  border-radius: 10px;
  font-family: $mainfont;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
  line-height: 60px;
}
.good-area {
  position: absolute;
  width: 300px;

  margin-top: -480px;
  margin-left: 510px;

  .ggName {
  margin-top: -7px;
  text-align: center;


}
.bbName {
  color: black;
}
  .ggHealth{
    color: black;
  }
  .health-container{
    height: 30px;
    margin-top: -14px;
    width: 295px;
    border: 1px solid gray;
    background-color: white;
  }
  #health-bar{
    background-color: rgb(129,212,101);
    height: 28px;
  }
}
.bad-area{
  margin-top: -480px;
  width: 300px;
  margin-left: 42px;

  position: absolute;
.bbName{
  text-align: center;
  margin-top: -7px;
}
  .health-container{
    height: 30px;
    margin-top: -14px;
    width: 295px;
    border: 1px solid gray;
    background-color: white;
  }
  #health-bar2{
    height: 28px;
    background-color: rgb(129,212,101);
  }

}
#fight{
  animation-duration: 0.8s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  position: absolute;
  font-weight: bold;
  height: 310px;
  width: 272px;
  background-image: url("../images/satan.gif");
  background-size: cover;
  margin-top: 50px;
  margin-left: 190px;

}

#bad-guy{

  width: 300px;
  margin-top: 70px;
  margin-left: 150px;

  img{
    margin-left: 10%;
    width: 80%;
  }
}

#glove-left{
  margin-top: 70px;
  margin-left: -100px;
  position: relative;
  height: 300px;
  width: 300px;
  border: none;
  img{
  position: absolute;
  margin-top: 100px;
  margin-left: 10px;
  border: none;
  transition: margin 0.09s ease;
  }
  img:hover{
    margin-top: -50px;
    border: none;
    margin-left: 110px;
  }
}

#glove-right{
  margin-top: -270px;
  width: 200px;
  height: 300px;
  border: none;
  width: 300px;
  position: relative;
  margin-left: 140px;
  img{
  margin-top: 80px;
  position: absolute;
  border: none;
  transition: margin 0.09s ease;
  }
  img:hover{
    margin-top: -80px;
    border: none;
    margin-left: -10px;
  }
}

#satan-left{
  border: 3px dashed black;
  width: 170px;
  margin-left: 300px;
}
.round{
  width: 158px;
  margin-top: 10px;
  height: 50px;
  padding-top: -15px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
  background-color: hsla(199, 17%, 83%, 1);
  font-family: $mainfont;
  a{
    text-decoration: none;
    color: black;
    margin-top: -20px;
  }
  &:hover{
    background-color: hsla(0, 0%, 98%, 1);
  }
}

.welcome2 h2{
  font-family: $newfont;
  color: hsla(321, 100%, 50%, 1);
  font-size: 45px;
  span{
  font-family: $newfont;
  margin-left: -10px;
  }
}
.body-container2{
  background-color: black;
}
#fight2{
  animation-duration: 0.8s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  position: absolute;
  font-weight: bold;
  height: 310px;
  width: 272px;
  border-radius: 20px;

  background-image: url("/images/reilly.gif");
  background-size: cover;
  margin-top: 50px;
  margin-left: 190px;
}

/*.beyonce{
  margin-top: 20px;
  background-image: url("http://i.perezhilton.com/wp-content/uploads/2013/04/tumblr_mkmxmkaedp1rl6qp7o1_500.gif");
  height: 300px;
  width: 90%;
  display: none;
  margin-left: 5%;
  background-size: cover;

//}*/
input[type=checkbox] {
	display: none;
}
label {
	position: absolute;
	width: 100%;
  margin-top: 130px;
	top: 0;
  margin-left: -40px;
  z-index: 10;
	cursor: pointer;
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-ms-transition: .6s;
	transition: .6s;
}
label h1 {
  opacity: .8;
	position: relative;
	display: table;
  height: 100px;

	margin: 0 auto;
	padding: 40px;
  color: white;
  background-color: black;
}

input[type=checkbox]:checked ~ label {
  top: -120px;
  opacity: 0;
}
